/*! #######################################################################

  MeanMenu 2.0.6
  --------

  To be used with jquery.meanmenu.js
  by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

  Sass version by Scott O'Hara - https://github.com/scottaohara

####################################################################### */
.mean-nav ul, .mean-push, .mean-nav .wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.mean-menuicon {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

.mean-menuicon, .mean-menuicon:before, .mean-menuicon:after {
  background: white;
  display: block;
  height: 3px;
  position: relative;
}

.meanmenu-reveal, .mean-nav .mean-expand {
  font-weight: 700;
  padding: 14px !important;
  position: absolute;
  right: 0;
  text-align: center;
  width: 26px;
}

.mean-container * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.meanmenu-reveal {
  color: white;
  cursor: pointer;
  display: none;
  font-family: Arial,Helvetica,sans-serif;
  height: 22px;
  line-height: 22px;
  text-decoration: none;
  text-indent: -9999em;
  top: 0;
}
.meanmenu-reveal:hover {
  background: #000;
  color: white;
}

.mean-bar {
  background: #0c1923;
  float: left;
  min-height: 42px;
  padding: 4px 0;
  width: 100%;
  z-index: 999999;
}

.meanmenu-reveal {
  display: block;
}

.mean-menuicon:before, .mean-menuicon:after {
  content: '';
}
.mean-menuicon:before {
  bottom: 6px;
}
.mean-menuicon:after {
  top: 3px;
}

.mean-nav {
  background: #0c1923;
  float: left;
  margin-top: 44px;
  width: 100%;
}
.mean-nav ul {
  list-style-type: none;
}
.mean-nav a {
  border-top: 1px solid #383838;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  float: left;
  margin: 0;
  padding: 1em 5%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 90%;
}
.mean-nav a:hover {
  background: #252525;
  background: rgba(255, 255, 255, 0.1);
}
.mean-nav li {
  float: left;
  position: relative;
  width: 100%;
}
.mean-nav li li a {
  border-top: 1px solid #f1f1f1;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  opacity: .75;
  filter: alpha(opacity=75);
  padding: 1em 10%;
  text-shadow: none !important;
  visibility: visible;
  width: 80%;
}
.mean-nav li li li a {
  padding: 1em 15%;
  width: 70%;
}
.mean-nav li li li li a {
  padding: 1em 20%;
  width: 60%;
}
.mean-nav li li li li li a {
  padding: 1em 25%;
  width: 50%;
}
.mean-nav .mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}
.mean-nav .mean-expand {
  background: rgba(255, 255, 255, 0.1);
  border: none !important;
  border-left: 1px solid rgba(255, 255, 255, 0.4) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 28px;
  line-height: 28px;
  top: 1px;
  z-index: 2;
}
.mean-nav .mean-expand:hover {
  background: rgba(0, 0, 0, 0.9);
}

.mean-push {
  clear: both;
  float: left;
}

.mean-remove {
  display: none !important;
}
